<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<!-- namespace：命名空间 -->
<mapper namespace="com.tang.appdemo.repository.mapper.UserMapper">

    <sql id="columns">
        id,username,password,name,phone,avatar,description,status,create_time,update_time,is_deleted
    </sql>

    <!-- id：SQL 语句的唯一标识 -->
    <select id="findUserByUsername" resultType="com.tang.appdemo.repository.model.po.User">
        select <include refid="columns"/>
        from sys_user
        where username = #{username}
    </select>

    <select id="findUserById" resultType="com.tang.appdemo.repository.model.po.User">
        select <include refid="columns"/>
        from sys_user
        where id = #{userId}
    </select>
</mapper>