<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.buercorp.appdemo.repository.mapper.UserMapper">

  <resultMap id="UserResultMap" type="com.buercorp.appdemo.repository.model.po.User">
    <result column="user_id" jdbcType="BIGINT" property="userId" />
    <result column="username" jdbcType="VARCHAR" property="username" />
    <result column="login_id" jdbcType="VARCHAR" property="loginId" />
    <result column="password" jdbcType="VARCHAR" property="password" />
    <result column="birthday" jdbcType="CHAR" property="birthday" />
    <result column="sex" jdbcType="TINYINT" property="sex" />
    <result column="city" jdbcType="VARCHAR" property="city" />
    <result column="phone" jdbcType="VARCHAR" property="phone" />
    <result column="mail" jdbcType="VARCHAR" property="mail" />
    <result column="avatar" jdbcType="VARCHAR" property="avatar" />
    <result column="identity" jdbcType="TINYINT" property="identity" />
    <result column="first_working_time" jdbcType="TIMESTAMP" property="firstWorkingTime" />
    <result column="is_valid" jdbcType="TINYINT" property="isValid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="update_time" jdbcType="TIMESTAMP" property="updateTime" />
  </resultMap>

  <sql id="columns">
    user_id,username,login_id,password,birthday,sex,city,phone,mail,avatar,identity,first_working_time,is_valid,create_time,update_time
  </sql>

  <insert id="insert" parameterType="com.buercorp.appdemo.repository.model.po.User">
    insert into user (user_id, username, login_id, 
      password, birthday, sex, 
      city, phone, mail, 
      avatar, identity, first_working_time, 
      is_valid, create_time, update_time
      )
    values (#{userId,jdbcType=BIGINT}, #{username,jdbcType=VARCHAR}, #{loginId,jdbcType=VARCHAR}, 
      #{password,jdbcType=VARCHAR}, #{birthday,jdbcType=CHAR}, #{sex,jdbcType=TINYINT}, 
      #{city,jdbcType=VARCHAR}, #{phone,jdbcType=VARCHAR}, #{mail,jdbcType=VARCHAR}, 
      #{avatar,jdbcType=VARCHAR}, #{identity,jdbcType=TINYINT}, #{firstWorkingTime,jdbcType=TIMESTAMP}, 
      #{isValid,jdbcType=TINYINT}, #{createTime,jdbcType=TIMESTAMP}, #{updateTime,jdbcType=TIMESTAMP}
      )
  </insert>

  <insert id="insertSelective" parameterType="com.buercorp.appdemo.repository.model.po.User">
    insert into user
    <trim prefix="(" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        user_id,
      </if>
      <if test="username != null">
        username,
      </if>
      <if test="loginId != null">
        login_id,
      </if>
      <if test="password != null">
        password,
      </if>
      <if test="birthday != null">
        birthday,
      </if>
      <if test="sex != null">
        sex,
      </if>
      <if test="city != null">
        city,
      </if>
      <if test="phone != null">
        phone,
      </if>
      <if test="mail != null">
        mail,
      </if>
      <if test="avatar != null">
        avatar,
      </if>
      <if test="identity != null">
        identity,
      </if>
      <if test="firstWorkingTime != null">
        first_working_time,
      </if>
      <if test="isValid != null">
        is_valid,
      </if>
      <if test="createTime != null">
        create_time,
      </if>
      <if test="updateTime != null">
        update_time,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides=",">
      <if test="userId != null">
        #{userId,jdbcType=BIGINT},
      </if>
      <if test="username != null">
        #{username,jdbcType=VARCHAR},
      </if>
      <if test="loginId != null">
        #{loginId,jdbcType=VARCHAR},
      </if>
      <if test="password != null">
        #{password,jdbcType=VARCHAR},
      </if>
      <if test="birthday != null">
        #{birthday,jdbcType=CHAR},
      </if>
      <if test="sex != null">
        #{sex,jdbcType=TINYINT},
      </if>
      <if test="city != null">
        #{city,jdbcType=VARCHAR},
      </if>
      <if test="phone != null">
        #{phone,jdbcType=VARCHAR},
      </if>
      <if test="mail != null">
        #{mail,jdbcType=VARCHAR},
      </if>
      <if test="avatar != null">
        #{avatar,jdbcType=VARCHAR},
      </if>
      <if test="identity != null">
        #{identity,jdbcType=TINYINT},
      </if>
      <if test="firstWorkingTime != null">
        #{firstWorkingTime,jdbcType=TIMESTAMP},
      </if>
      <if test="isValid != null">
        #{isValid,jdbcType=TINYINT},
      </if>
      <if test="createTime != null">
        #{createTime,jdbcType=TIMESTAMP},
      </if>
      <if test="updateTime != null">
        #{updateTime,jdbcType=TIMESTAMP},
      </if>
    </trim>
  </insert>

    <!-- 根据 username 查询用户 -->
    <select id="findUserByUsername" resultMap="UserResultMap">
      select <include refid="columns" />
      from user
      where username = #{username}
    </select>

    <!-- 根据 id 查询用户信息 -->
    <select id="findUserById" resultMap="UserResultMap">
      select <include refid="columns" />
      from user
      where user_id = #{userId}
    </select>

    <!-- 根据 id 修改用户信息 -->
    <update id="updateUserById">

    </update>

    <!-- 删除用户 -->
    <delete id="deleteById">

    </delete>

    <!-- 获取所有用户信息 -->
    <select id="getAll" resultMap="UserResultMap">

    </select>

  <!--平面文件导入数据库sql，不添加user_id-->
  <insert id="save" keyColumn="user_id" keyProperty="userId" useGeneratedKeys="true">
    insert into `user` (username,login_id,password,birthday,sex,city,phone,mail,avatar,identity,first_working_time,is_valid,create_time,update_time)
    values(#{username},#{loginId},#{password},#{birthday},#{sex},#{city},#{phone},#{mail},#{avatar},#{identity},#{firstWorkingTime},#{isValid},#{createTime},#{updateTime})
  </insert>
</mapper>